A copy of your First Aid Replenishment and Service performed on
<%= Time.now.strftime("%m-%d-%y") %> is attached.
<p>Thanks for choosing DiVal Safety!</p>
<p>
  <strong>
    Devoted to the safety of your employees and
    committed to the bottom line of our clients.
  </strong>
</p>
