<div class="text-center">
  <%= link_to "New Order", new_customer_path, class: "btn btn-primary new-order-btn" %>
</div>
<hr/>
<% if @open_orders.any? %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="text-center txt-lg bold">Orders in Progress</div>
      <div class="list-group top-20">
        <% @open_orders.each do |oo| %>
            <% if oo.ship_to_num %>
              <%= link_to "<strong>#{oo.cust_name.strip}"\
                    "<span class='pull-right'>"\
                      "#{leading_zero(oo.ship_to_num.to_s)}"\
                    "</span></strong><br/>#{oo.cust_line1} #{oo.cust_line2}"\
                    "<span class='pull-right'>"\
                      "#{oo.order_date.strftime("%m/%d/%y")}"\
                    "</span><br/>#{oo.cust_city.strip}, #{oo.cust_state} "\
                    "#{oo.cust_zip}".html_safe,
                    customer_items_path(oo.id),
                    class: "list-group-item text-left" %>
            <% else %>
              <%= link_to "<strong>#{oo.cust_name.strip}</strong>"\
                    "<span class='pull-right'>"\
                      "#{oo.order_date.strftime("%m/%d/%y")}"\
                    "</span>".html_safe,
                    customer_items_path(oo.id),
                    class: "list-group-item text-left" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row text-center">
    <br/>
    <div class="txt-md bold bottom-40">You have no orders in progress</div>
  </div>
<% end %>
