<div class="row">
  <div class="text-center">
    <strong><%= @customer.cust_name %> (<%= @customer.cust_num %>)</strong>
  </div>
</div>
<hr/>
<div class="row">
  <div class="text-center">
    <strong class="txt-lg">Select Ship-To</strong>
  </div>
</div>
<% unless @ship_tos.nil? %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 top-20">
      <div class="list-group">
        <% @ship_tos.each do |sh| %>
          <% if sh[3].blank? %>
            <%= link_to "#{sh[1]}<br/>#{sh[2]}"\
                  "<span class='pull-right'>#{leading_zero(sh[0])}</span>"\
                  "<br/>#{sh[4]}, #{sh[5]} #{sh[6]}".html_safe,
                  ship_to_customer_path(ship_to_num: sh[0], cust_line1: sh[2],
                                        cust_city: sh[4], cust_state: sh[5],
                                        cust_zip: sh[6]),
                  method: "post",
                  class: "list-group-item text-left" %>
          <% else %>
            <%= link_to "#{sh[1]}<br/>#{sh[2]} #{sh[3]}"\
                  "<span class='pull-right'>#{leading_zero(sh[0])}</span>"\
                  "<br/>#{sh[4]}, #{sh[5]} #{sh[6]}".html_safe,
                  ship_to_customer_path(ship_to_num: sh[0], cust_line1: sh[2],
                                        cust_line2: sh[3], cust_city: sh[4],
                                        cust_state: sh[5], cust_zip: sh[6]),
                  method: "post",
                  class: "list-group-item text-left" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
