/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

select, input[type="text"], input[type="password"], input[type="number"],
input[type="email"], input[type="search"] {
  font-size: 16px;
}

a {
  text-decoration: none !important;
}

.navbar-brand {
  color: #f2f2f2 !important;
}

.navbar-brand:hover {
  color: #bfbfbf !important;
}

.navbar-brand:active {
  color: #8c8c8c !important;
}

.new-order-btn {
  padding: 20px 0;
  width: 50%;
}

.top-0 {
  margin-top: 0;
}

.top-5 {
  margin-top: 5px;
}

.top-10 {
  margin-top: 10px;
}

.top-20 {
  margin-top: 20px;
}

.top-30 {
  margin-top: 30px;
}

.top-40 {
  margin-top: 40px;
}

.bottom-5 {
  margin-bottom: 5px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-30 {
  margin-bottom: 30px;
}

.bottom-40 {
  margin-bottom: 40px;
}

.left-10 {
  margin-left: 10px;
}

.left-20 {
  margin-left: 20px;
}

.left-50 {
  margin-left: 50px;
}

.left-100 {
  margin-left: 100px;
}

.left-neg-15 {
  margin-left: -15px;
}

.right-5 {
  margin-right: 5px;
}

.right-10 {
  margin-right: 10px;
}

.right-14 {
  margin-right: 14px;
}

.right-20 {
  margin-right: 20px;
}

.right-30 {
  margin-right: 30px;
}

.right-35 {
  margin-right: 35px;
}

.right-40 {
  margin-right: 40px;
}

.right-54 {
  margin-right: 54px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pick-th {
  padding-bottom: 2px;
}

.pick-tr {
  padding: 2px 0;
  border-top: 1px solid #ddd;
}

.full-width {
  width: 100% !important;
}

.th-row, .th-row:hover {
  background-color: #e7e7e7 !important;
}

.table > tbody > tr > th {
  line-height: 1;
}

.table > tbody > tr > td {
  line-height: 1;
}

.cc-ht {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 30px;
}

.cc-ht-hr {
  background-color: #ddd;
}

.txt-xs {
  font-size: 10px;
}

.txt-sm {
  font-size: 12px;
}

.txt-reg {
  font-size: 16px;
}

.txt-md {
  font-size: 18px;
}

.txt-lg {
  font-size: 25px;
}

.txt-xl {
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

.dark-gray {
  color: #4d4d4d;
}

.red {
  color: #d9534f;
}

.red:hover {
  color: #bd2d29;
}

.red:active {
  color: #7e1e1b;
}

.white-bkgd {
  background-color: #ffffff;
}
