/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

select, input[type="text"], input[type="password"], input[type="number"],
input[type="email"], input[type="search"] {
  font-size: 16px;
}

.new-order-btn {
  padding: 20px 0;
  width: 50%;
}

.top-10 {
  margin-top: 10px;
}

.top-20 {
  margin-top: 20px;
}

.right-10 {
  margin-right: 10px;
}

.full-width {
  width: 100% !important;
}

.th-row, .th-row:hover {
  background-color: #e7e7e7 !important;
}

.txt-xs {
  font-size: 9px;
}

.txt-sm {
  font-size: 10px;
}

.txt-md {
  font-size: 25px;
}

.bold {
  font-weight: bold;
}
