/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.new-order-btn {
  padding: 20px 0;
  width: 50%;
}

.top-10 {
  margin-top: 10px;
}

.top-20 {
  margin-top: 20px;
}

.cust-search {
  width: 100% !important;
}
