<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <% if logged_in? %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <%= link_to "DiVal Safety - First Aid", root_path, class: "navbar-brand" %>
    </div>
    <% if logged_in? %>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="text-center"><%= link_to "Logout", logout_path, method: 'delete' %></li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
